# ==========================================
# API Configuration (Application)
# ==========================================

# Port where the NodeJS/NestJS application will run locally and in the container
PORT=3000

# Execution environment: "development", "production", or "test"
NODE_ENV=development

# Frontend URL (used by the backend to allow CORS for this origin)
CLIENT_URL=http://localhost:5173

# ==========================================
# Database Configuration (PostgreSQL)
# ==========================================

# Database host (if running via Docker on the same network, use the service name: "postgres")
DB_HOST=postgres

# Exposed database port (default is 5432)
DB_PORT=5432

# Database access user
DB_USERNAME=postgres

# Database access password
DB_PASSWORD=postgres_password

# Created database name
DB_NAME=spend_track_db

# Main database schema where tables will be stored (Postgres default is "public")
DB_SCHEMA=public

# Whether to require SSL connection to the database (usually "false" in development and "true" in production/cloud)
DB_SSL=false

# ==========================================
# Authentication Configuration (JWT)
# ==========================================

# Main Access Token secret key (use long, random hashes in production)
JWT_SECRET=your_jwt_access_secret_key_here

# Access Token lifespan (usually short for security, e.g., 15m for 15 minutes, 1h for 1 hour)
JWT_EXPIRES_IN=15m

# Exclusive secret key for the Refresh Token (must be different from the key above)
JWT_REFRESH_SECRET=your_jwt_refresh_secret_key_here

# Refresh Token lifespan (usually longer, e.g., 7d for 7 days, or 30d for a month)
JWT_REFRESH_EXPIRES_IN=7d
