# ==========================================
# Configuração da API (Aplicação)
# ==========================================

# Porta onde a aplicação NodeJS/NestJS rodará localmente e no container
PORT=3000

# Ambiente de execução: "development", "production", ou "test"
NODE_ENV=development

# URL do Frontend (usada pelo backend para permitir CORS para esta origem)
CLIENT_URL=http://localhost:5173

# ==========================================
# Configuração do Banco de Dados (PostgreSQL)
# ==========================================

# Host do banco de dados (se rodar via Docker na mesma rede, use o nome do serviço: "postgres")
DB_HOST=postgres

# Porta exposta do banco de dados (padrão é 5432)
DB_PORT=5432

# Usuário de acesso ao banco de dados
DB_USERNAME=postgres

# Senha de acesso ao banco de dados
DB_PASSWORD=postgres_password

# Nome do banco de dados criado
DB_NAME=spend_track_db

# Schema principal do banco do dados onde as tabelas serão salvas (padrão do Postgres é "public")
DB_SCHEMA=public

# Se requer conexão SSL com o banco de dados (geralmente "false" em desenvolvimento e "true" em produção/nuvem)
DB_SSL=false

# ==========================================
# Configuração de Autenticação (JWT)
# ==========================================

# Chave secreta principal do Access Token (use hashes longos e aleatórios em produção)
JWT_SECRET=your_jwt_access_secret_key_here

# Tempo de vida do Access Token (geralmente curto por segurança, ex: 15m para 15 minutos, 1h para 1 hora)
JWT_EXPIRES_IN=15m

# Chave secreta exclusiva do Refresh Token (deve ser diferente da chave acima)
JWT_REFRESH_SECRET=your_jwt_refresh_secret_key_here

# Tempo de vida do Refresh Token (geralmente mais longo, ex: 7d para 7 dias, ou 30d para um mês)
JWT_REFRESH_EXPIRES_IN=7d

# ==========================================
# Configuração de Cookies
# ==========================================

# Domínio onde os cookies estarão disponíveis
COOKIE_DOMAIN=localhost

# Enviar cookies apenas por HTTPS (true em produção)
COOKIE_SECURE=false

# Estratégia de proteção CSRF: strict | lax | none
COOKIE_SAME_SITE=lax

# Tempo de vida do cookie do access token (em ms)
COOKIE_ACCESS_MAX_AGE=900000

# Tempo de vida do cookie do refresh token (em ms)
COOKIE_REFRESH_MAX_AGE=604800000